.modal {
    background-color: var(--transparentWhite);
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__form {
    background-color: var(--white);
    width: 80%;
    max-width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.modal__form__span {
    align-self: flex-end;
    margin-right: 8px;
    margin-top: 8px;
    cursor: pointer;
}

.modal__form>h2 {
    text-align: center;
}

.modal__form>label {
    margin: 8px;
    width: 90%;
}

.modal__form>input {
    border: 1px solid;
    width: 90%;
    padding: 4px;
}

.modal__form>button {
    margin: 2rem auto;
    background-color: var(--blue);
    padding: 1rem;
    width: 80%;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid var(--blue);
    color: var(--white);
}


.hidden {
    display: none;
}


@media(min-width: 768px) {}